/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     color: rgb(134,141,157);
      background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.background {
  color: white;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


#container_1 {
  background-image:url("../images/header_bg.jpg");
  padding: 50px;
}
.top {
  font-size: 60px;
  font-weight: bolder;
  padding-left: 20px;
}
.piece {
  color: white;
  font-size: 40px;
  font-weight: semibold;
  padding: 15px;
}
.get {
  background-color: yellow;
  border-radius: 5px;
  color: black;
  font-size: 30px;
  font-weight: Extrabold;
  margin:0 auto;
  padding: 15px;
  width: 12%;
}
h3 {
  padding: 30px;
}
h2, h3 {
  text-align: center;
}

#container_2 {
  background-color: #fae5b8;
  color:#022d61;
  font-family: Helvetica;
  font-size: 30px;
  padding: 50px;

}
.ben {
  font-size: 60px;
  font-weight: semibold;
  padding: 30px;
}
p {
  font-weight: Light;
  padding: 30px;
}
ul  {
  padding-left: 100px;
}

#container_3 {
  background-image: url("../images/testimonial_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-style: italic;
  padding: 40px;
  text-align: center;
  width: 100%;
}

#container_3 p {
  font-size: 30px;
  margin: 0 auto;
  width: 500px;
  padding-bottom: 0px;

}
.name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  padding-top: 5px;
}
p {
  margin: 0px;
}

#container_4 {
  background-color: yellow;
  color: white;
  font-size: 22px;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  width:100%;
}
.cta {
  background-color: black;
  border-radius: 5px;
  height: 50%;
  margin: 15px auto;
  padding:10px;
  width: 10%;
  }
#container_5 {
  background-color: #121212;
  padding: 5px;
  text-align: center;
}

#relax {
  font-size: 50px;
  color: yellow;
  font-weight: bolder;
}
#twitter {
  padding: 10px;
}
#face {
  padding: 10px;
}
#container_5 .p {
  color:white;
  font-weight: normal;
  font-size: 22px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
